<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
</head>
<body>
<!-- Header -->
    <H1>States</H1>
<!-- List of states -->
<UL>
    {% for state in states|sort(attribute="name") %}
    <LI>{{ state.id }}: <B>{{ state.name }}</B>
        <UL>
            {% for city in state.cities|sort(attribute="name") %}
            <LI>{{ city.id }}: <B>{{ city.name }}</LI>
            {% endfor %}
        </UL>
    </LI>
    {% endfor %}
</UL>
</body>
</html>